@model IEnumerable<CargoSystem.Web.ViewModels.Home.SpeditorViewModel>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Latest Speditors</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <ul class="list-group">
                @foreach (var speditor in Model)
                {
                    <li class="list-group-item">
                        <span class="badge">@speditor.ClosedBargainsCount</span>
                        @speditor.FirstName
                    </li>
                }
            </ul>
        </ul>
    </div>
</div>