@using CargoSystem.Web.Areas.Administration.ViewModels.Users
@{
    ViewBag.Title = "Users Administration";
    const string ControllerName = "Users";
}

<h2>Navigation</h2>

@(Html
    .Kendo()
    .Grid<UserViewModel>()
    .Name("grid")
            .Columns(columns =>
            {
                columns.Bound(user => user.FirstName);
                columns.Bound(user => user.MiddleName);
                columns.Bound(user => user.LastName);
                columns.Bound(user => user.Email);
                columns.Bound(user => user.IsCarrier);
                columns.Command(com => com.Edit());
            })
            .DataSource(data => data
                .Ajax()
                .Model(m => m.Id(user => user.Id))
                .PageSize(5)
                .Update(update => update.Action("UpdateUser", ControllerName))
                .Read(read => read.Action("ReadUsers", ControllerName)))
    .Pageable()
    .Editable(edit => edit.Mode(GridEditMode.PopUp))
    .Sortable()
    .Filterable()
    .Groupable()
)
