body {
    /*padding-top: 70px;
    padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bar-icon {
    display: inline-block;
    font-size: 1.2em;
    margin-right: 5px;
    margin-left: 5px;
}

    .bar-icon + .badge {
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 1px;
        padding-bottom: 1px;
    }

    a.notification-item span.badge{
        background-color:#0094ff;
    }